<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Show</title>
</head>
<body>
	<h1>Player #<%= playerNum %></h1>
	<h3><%= player.player %>  <a href="/players/<%= player.id%>/edit">Edit</a> </h3>
	<h3>Strength: <%= player.strength %> <a href="/players/<%= player.id%>/edit">Edit</a></h3>
    <h3>Dexterity: <%= player.dexterity %></h3>
    <h3>Constitution: <%= player.constitution %></h3>
    <h3>Intelligence: <%= player.intelligence %></h3>
    <h3>Wisdom: <%= player.wisdom %></h3>
    <h3>Charisma: <%= player.charisma %></h3>
    <h3>Weapon Skill: <%= player.weaponSkill %></h3>
    <h3>Ballistic Skill: <%= player.balisticSkill %></h3>

    
</body>
</html>

